@font-face {
  src: url("fonts/Helvetica_Ultra_Compressed.woff") format("woff")
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-size: 20vw;
  color: #a88556;
}

.wrapper > div {          /* light gold background */
  /* background: #f7f7ed; */
  /* padding: 1em; */
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 24vw 1fr;
  grid-template-rows: minmax(100px, auto);
  grid-template-areas: "box1 box2 box3";
  grid-gap: 1em;
  ma
}

/* @media screen and (min-width: 375px){ */


@media screen and (min-width: 376px) {
  .headers {
    display: none;
  }
}

@media screen and (max-width: 375px) {

  .mobiel-circle {
    r: 215;
  }

  .wrapper {
    grid-gap: 0em;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: minmax(100px, auto);
  }

  .box2 {
    width: 100vw;
    justify-self: center;
    align-self: start;
    margin-top: 0px;
    height: 450px;
  }

  .box1 {
    align-self: end;
    display: none;
  }

  .box-4 {
    display: none;
  }

  .box3 {
    align-self: end;
    display: none;
  }

  h1 {
    font-size: 30vw;
  }

  .box-7 {
    /* margin-top: -100px; */

    align-self: start;
  }

}

/* //////einde mobiel query */


.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
  /* align-self: center; */
  margin-top: 0px;
}
.box3 {
  grid-area: box3;
}
.box-4 {

}
.box-7 {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: minmax(100px, auto);
}

.mobiel-circle {
  r: 212;
}

.headers {
  justify-self: center;
  /* align-self: top; */
}

.ring1 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring2 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring3 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring4 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring5 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}

.ring1:hover {
  stroke: #3e76ec;  /* blue */
  transition: ease 1s;
}
.ring2:hover {
  stroke: #000000;  /* black */
  transition: ease 1s;
}
.ring3:hover {
  stroke: #ff0000;  /* red */
  transition: ease 1s;
}
.ring4:hover {
  stroke: #ffce01;  /* yellow */
  transition: ease 1s;
}
.ring5:hover {
  stroke: #179a13;  /* green */
  transition: ease 1s;
}

/* #fuji {
  stroke: black;
} */


/*
.box2 {
  /* align-self: start;
  grid-column: 1/2;
  grid-row: 1/0;
}

.box4 {
  grid-column: 2/3;
  grid-row: 1/0;
}
*/

/*  Animatie/Hover/Transform/Javascript(clicks) voorbeelden)

.div {
  transition: background ease 2s;

}

div:hover {
  transform: scale(2);
  background: blue;
}

div:focus {   /* alleen met link: <a href="#">
color: green'
}

.animatie {
  background: green;
}


var box = document.querySelector('div');
box.addEventLisetener('click', function() {
box.classList.toggle('animate');
})

*/
