@font-face {
  src: url("../fonts/Helvetica_Ultra_Compressed.woff") format("woff")
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-size: 20vw;
  color: #a88556;
}
body {
  background-color: #f7f7ed;
}

.wrapper > div {          /* light gold background */
  /* background: #f7f7ed; */
  /* padding: 1em; */
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 24vw 1fr;
  grid-template-rows: minmax(100px, auto);
  grid-template-areas: "box1 box2 box3";
  grid-gap: 1em;
  align-items: flex-end;

}

/* @media screen and (min-width: 375px){ */


@media screen and (min-width: 376px) {
  .headers1 {
    display: none;
  }
  .headers2 {
    display: none;
  }
}

@media screen and (max-width: 375px) {

  .mobiel-circle {
    r: 215;
  }
  .wrapper {
    grid-gap: 0em;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: minmax(100px, auto);
  }
  .box2 {
    width: 100vw;
    justify-self: center;
    align-self: start;
    margin-top: 0px;
    height: 450px;
  }
  .box1 {
    align-self: end;
    display: none;
  }
  .box-4 {
    display: none;
  }
  .box3 {
    align-self: end;
    display: none;
  }
  h1 {
    font-size: 30vw;
  }
  .box-7 {
    /* margin-top: -100px; */
    align-self: start;
  }
  .headers2 {
    text-align: end;
  }
}

/* //////einde mobiel query */


.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
  /* align-self: center; */
  margin-top: 0px;
}
.box3 {
  grid-area: box3;
}
.box-4 {

}
.box-7 {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: minmax(100px, auto);
}

.mobiel-circle {
  r: 212;
}

.headers {
  justify-self: center;
  /* align-self: top; */
}

.ring1 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring2 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring3 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring4 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring5 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}

.ring1:hover {
  stroke: #3e76ec;  /* blue */
  r: 50px;
  transition: ease-in-out 0.5s;
}
.ring2:hover {
  stroke: #000000;  /* black */
  r: 50px;
  transition: ease-in-out 0.5s;
}
.ring3:hover {
  stroke: #ff0000;  /* red */
  r: 50px;
  transition: ease-in-out 0.5s;
}
.ring4:hover {
  stroke: #ffce01;  /* yellow */
  r: 50px;
  transition: ease-in-out 0.5s;
}
.ring5:hover {
  stroke: #179a13;  /* green */
  r: 50px;
  transition: ease-in-out 0.5s;
}

.ring1 {
	-webkit-animation: ring1 1s ease-out both;
	animation: ring1 1s ease-out both;
}
@-webkit-keyframes ring1 {
  0% {-webkit-transform: translateY(1000px);
     transform: translateY(1000px);
     opacity: 0;}
 50% {-webkit-transform: translateY(500px);
     transform: translateY(500px);
     opacity: 0.5;}
100% {-webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;}
}
@keyframes ring1 {
  0% {-webkit-transform: translateY(1000px);
     transform: translateY(1000px);
     opacity: 0;}
 50% {-webkit-transform: translateY(500px);
     transform: translateY(500px);
     opacity: 0.5;}
100% {-webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;}
}

.ring2 {
	-webkit-animation: ring2 1.1s ease-out both;
	animation: ring2 1.1s ease-out both;
}
@-webkit-keyframes ring2 {
  0% {-webkit-transform: translateY(1000px);
     transform: translateY(1000px);
     opacity: 0;}
 50% {-webkit-transform: translateY(500px);
     transform: translateY(500px);
     opacity: 0.5;}
100% {-webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;}
}
@keyframes ring2 {
  0% {-webkit-transform: translateY(1000px);
     transform: translateY(1000px);
     opacity: 0;}
 50% {-webkit-transform: translateY(500px);
     transform: translateY(500px);
     opacity: 0.5;}
100% {-webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;}
}

.ring3 {
	-webkit-animation: ring3 1.2s ease-out both;
	animation: ring3 1.2s ease-out both;
}
@-webkit-keyframes ring3 {
  0% {-webkit-transform: translateY(1000px);
     transform: translateY(1000px);
     opacity: 0;}
 50% {-webkit-transform: translateY(500px);
     transform: translateY(500px);
     opacity: 0.5;}
100% {-webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;}
}
@keyframes ring3 {
  0% {-webkit-transform: translateY(1000px);
     transform: translateY(1000px);
     opacity: 0;}
 50% {-webkit-transform: translateY(500px);
     transform: translateY(500px);
     opacity: 0.5;}
100% {-webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;}
}

.ring4 {
	-webkit-animation: ring4 1.3s ease-out both;
	animation: ring4 1.3s ease-out both;
}
@-webkit-keyframes ring4 {
  0% {-webkit-transform: translateY(1000px);
     transform: translateY(1000px);
     opacity: 0;}
 50% {-webkit-transform: translateY(500px);
     transform: translateY(500px);
     opacity: 0.5;}
100% {-webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;}
}
@keyframes ring4 {
  0% {-webkit-transform: translateY(1000px);
     transform: translateY(1000px);
     opacity: 0;}
 50% {-webkit-transform: translateY(500px);
     transform: translateY(500px);
     opacity: 0.5;}
100% {-webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;}
}

.ring5 {
	-webkit-animation: ring5 1.4s ease-out both;
	animation: ring5 1.4s ease-out both;
}
@-webkit-keyframes ring5 {
  0% {-webkit-transform: translateY(1000px);
     transform: translateY(1000px);
     opacity: 0;}
 50% {-webkit-transform: translateY(500px);
     transform: translateY(500px);
     opacity: 0.5;}
100% {-webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;}
}
@keyframes ring5 {
  0% {-webkit-transform: translateY(1000px);
     transform: translateY(1000px);
     opacity: 0;}
 50% {-webkit-transform: translateY(500px);
     transform: translateY(500px);
     opacity: 0.5;}
100% {-webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;}
}

/* .mobiel-circle {
  -webkit-animation: mobiel-circle 1.5s both;
	animation: mobiel-circle 1.5s both;
}

@-webkit-keyframes mobiel-circle {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes mobiel-circle {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
} */




.fujisun {
  -webkit-clip-path: circle(49% at 50% 50%);
  -moz-clip-path: circle(49% at 50% 49%);
  background-color: #db3742;
  transition: opacity 2s;
}


/* .box1 {
    margin-top: 0px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
     /* animation-delay: 1s;
} */

#showcase1 {
  position: relative;
  animation-name: showcase1, fadein;
  animation-duration: 1.5s, 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
#showcase2 {
  position: relative;
  animation-name: showcase2, fadein;
  animation-duration: 1.5s, 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.headers1 {
  position: relative;
  animation-name: headers1, fadein;
  animation-duration: 1.5s, 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
.headers2 {
  position: relative;
  animation-name: headers2, fadein;
  animation-duration: 1.5s, 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

/* fadein for web */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadein { /* Firefox */
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* position animation for web */
@keyframes showcase1 {
  0% {left: -1000px;}
  100% {left: 0px;}
}
@-webkit-keyframes showcase1 {
  0% {left: -1000px;}
  100% {left: 0px;}
}
@keyframes showcase2 {
  0% {left: 1000px;}
  100% {left: 0px;}
}
@-webkit-keyframes showcase2 {
  0% {right: 1000px;}
  100% {right: 0px;}
}

/* position animation for mobile */
@keyframes headers1 {
  0% {left: -800px;}
  100% {left: 0px;}
}
@-webkit-keyframes headers1 {
  0% {left: -800px;}
  100% {left: 0px;}
}
@keyframes headers2 {
  0% {left: 800px;}
  100% {left: 0px;}
}
@-webkit-keyframes headers2 {
  0% {right: 800px;}
  100% {right: 0px;}
}

.toggle {
  opacity: 0;
  transition: ease-in-out 1s;
}

#fuji2 {
  transition: ease-in-out 1s;
}

@keyframes mymove
{
from { top: 0px;}
to { top: 200px;}
}

@keyframes mymove
{
  0% { top: 0px;}
  50% { top: 100px;}
  100% { top: 200px;}
}

#picto1 {
  opacity: 0;
  fill: #a88556;
  /* top: 50px;
  left: 25px;
  width: 40px;
  position: relative; */
}
#picto1.pictostyle {
  opacity: 1;
  transition: ease-in-out 0.8s;
  /* -webkit-animation: shake1 5s linear infinite both;
	animation: shake1 5s linear infinite both; */
}

@-webkit-keyframes shake1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes shake1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


#picto2 {
  opacity: 0;
  fill: #a88556;
  /* top: 420px;
  left: 25px;
  width: 70px; */
}
#picto2.pictostyle2 {
  opacity: 1;
  transition: ease-in-out 0.8s;
}

#picto3 {
  opacity: 0;
  fill: #a88556;
  /* top: 420px;
  left: 25px;
  width: 70px; */
}
#picto3.pictostyle3 {
  opacity: 1;
  transition: ease-in-out 0.8s;
}
#picto4 {
  opacity: 0;
  fill: #a88556;
  /* top: 420px;
  left: 25px;
  width: 70px; */
}
#picto4.pictostyle4 {
  opacity: 1;
  transition: ease-in-out 0.8s;
}

#picto5 {
  opacity: 0;
  fill: #a88556;
  /* top: 420px;
  left: 25px;
  width: 70px; */
}
#picto5.pictostyle5 {
  opacity: 1;
  transition: ease-in-out 0.8s;
}

#picto1:hover {
  fill: #3e76ec;  /* blue */
  transition: ease-in-out 0.5s;
}
#picto2:hover {
  fill: #000000;  /* black */
  transition: ease-in-out 0.5s;
}
#picto3:hover {
  fill: #ff0000;  /* red */
  transition: ease-in-out 0.5s;
}
#picto4:hover {
  fill: #ffce01;  /* yellow */
  transition: ease-in-out 0.5s;
}
#picto5:hover {
  fill: #179a13;  /* green */
  transition: ease-in-out 0.5s;
}

.textgradient:active {
	background-image: -webkit-linear-gradient(95deg, #3e76ec, #ff0000, #ffce01, #179a13);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: gradient 10s infinite linear;
}

@-webkit-keyframes gradient {
  from {-webkit-filter: hue-rotate(0deg);}
  to {-webkit-filter: hue-rotate(-360deg);}
}



/*  Animatie/Hover/Transform/Javascript(clicks) voorbeelden)

.div {
  transition: background ease 2s;

}

div:hover {
  transform: scale(2);
  background: blue;
}

div:focus {   /* alleen met link: <a href="#">
color: green'
}

.animate {
  background: green;
}


var box = document.querySelector('div');
box.addEventListener('click', function() {
box.classList.toggle('animate');
})

*/
