@font-face {
  src: url("fonts/Helvetica_Ultra_Compressed.woff") format("woff")
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-size: 20vw;
  color: #a88556;
}
body {
  background-color: #f7f7ed;
}

.wrapper > div {          /* light gold background */
  /* background: #f7f7ed; */
  /* padding: 1em; */
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 24vw 1fr;
  grid-template-rows: minmax(100px, auto);
  grid-template-areas: "box1 box2 box3";
  grid-gap: 1em;

}

/* @media screen and (min-width: 375px){ */


@media screen and (min-width: 376px) {
  .headers1 {
    display: none;
  }
  .headers2 {
    display: none;
  }
}

@media screen and (max-width: 375px) {

  .mobiel-circle {
    r: 215;
  }
  .wrapper {
    grid-gap: 0em;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: minmax(100px, auto);
  }
  .box2 {
    width: 100vw;
    justify-self: center;
    align-self: start;
    margin-top: 0px;
    height: 450px;
  }
  .box1 {
    align-self: end;
    display: none;
  }
  .box-4 {
    display: none;
  }
  .box3 {
    align-self: end;
    display: none;
  }
  h1 {
    font-size: 30vw;
  }
  .box-7 {
    /* margin-top: -100px; */
    align-self: start;
  }
  .headers2 {
    text-align: end;
  }
}

/* //////einde mobiel query */


.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
  /* align-self: center; */
  margin-top: 0px;
}
.box3 {
  grid-area: box3;
}
.box-4 {

}
.box-7 {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: minmax(100px, auto);
}

.mobiel-circle {
  r: 212;
}

.headers {
  justify-self: center;
  /* align-self: top; */
}

.ring1 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring2 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring3 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring4 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}
.ring5 {
  fill: none;
  stroke: #a88556;
  stroke-miterlimit: 10;
  stroke-width: 12px
}

.ring1:hover {
  stroke: #3e76ec;  /* blue */
  r: 50px;
  transition: ease 1s;
}
.ring2:hover {
  stroke: #000000;  /* black */
  r: 50px;
  transition: ease 1s;
}
.ring3:hover {
  stroke: #ff0000;  /* red */
  r: 50px;
  transition: ease 1s;
}
.ring4:hover {
  stroke: #ffce01;  /* yellow */
  r: 50px;
  transition: ease 1s;
}
.ring5:hover {
  stroke: #179a13;  /* green */
  r: 50px;
  transition: ease 1s;
}

.fujisun {
-webkit-clip-path: circle(49% at 50% 49%);
-moz-clip-path: circle(49% at 50% 49%);
background-color: #db3742;
}

/* .box1 {
    margin-top: 0px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
     /* animation-delay: 1s;
} */

#showcase1 {
  position: relative;
  animation-name: showcase1, fadein;
  animation-duration: 1.5s, 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
#showcase2 {
  position: relative;
  animation-name: showcase2, fadein;
  animation-duration: 1.5s, 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.headers1 {
  position: relative;
  animation-name: headers1, fadein;
  animation-duration: 1.5s, 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
.headers2 {
  position: relative;
  animation-name: headers2, fadein;
  animation-duration: 1.5s, 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

/* fadein for web */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadein { /* Firefox */
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* position animation for web */
@keyframes showcase1 {
  0% {left: -1000px;}
  100% {left: 0px;}
}
@-webkit-keyframes showcase1 {
  0% {left: -1000px;}
  100% {left: 0px;}
}
@keyframes showcase2 {
  0% {left: 1000px;}
  100% {left: 0px;}
}
@-webkit-keyframes showcase2 {
  0% {right: 1000px;}
  100% {right: 0px;}
}

/* position animation for mobile */
@keyframes headers1 {
  0% {left: -800px;}
  100% {left: 0px;}
}
@-webkit-keyframes headers1 {
  0% {left: -800px;}
  100% {left: 0px;}
}
@keyframes headers2 {
  0% {left: 800px;}
  100% {left: 0px;}
}
@-webkit-keyframes headers2 {
  0% {right: 800px;}
  100% {right: 0px;}
}




/* .ring1 {
	-webkit-animation: ring1 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
	        animation: ring1 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-18 16:6:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
/* @-webkit-keyframes ring1 {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes ring1 {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
} */


/*  Animatie/Hover/Transform/Javascript(clicks) voorbeelden)

.div {
  transition: background ease 2s;

}

div:hover {
  transform: scale(2);
  background: blue;
}

div:focus {   /* alleen met link: <a href="#">
color: green'
}

.animatie {
  background: green;
}


var box = document.querySelector('div');
box.addEventLisetener('click', function() {
box.classList.toggle('animate');
})

*/
